[Desktop Entry]
Name=Take me to the edge and back
Name[fr]=Take me to the edge and back

X-KDE-PluginInfo-Name=Take me to the edge and back
X-KDE-PluginInfo-Author=Kenny Louie
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/kwl
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Take me to the edge and back
