[Desktop Entry]
Name=Palmengarten
Name[fr]=Palmengarten

X-KDE-PluginInfo-Name=Palmengarten
X-KDE-PluginInfo-Author=Rene Schwietzke
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/rene-germany/1478690483/
X-KDE-PluginInfo-License=CC BY-SA 3.0
Name[fr_FR]=Palmengarten
