[Desktop Entry]
Name=Hope
Name[fr]=Hope

X-KDE-PluginInfo-Name=Hope
X-KDE-PluginInfo-Author=renatus88
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/renatus88/7847005354/
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Hope
