[Desktop Entry]
Name=Turquoise
Name[fr]=Turquoise

X-KDE-PluginInfo-Name=Turquoise
X-KDE-PluginInfo-Author=Håvard Bjerke
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/64617804@N07
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Turquoise
