[Desktop Entry]
Name=River Thames
Name[fr]=River Thames

X-KDE-PluginInfo-Name=River Thames
X-KDE-PluginInfo-Author=Simon Hadleigh-Sparks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/simon__syon
X-KDE-PluginInfo-License=http://creativecommons.org/licenses/by-nd/4.0/
Name[fr_FR]=River Thames
