[Desktop Entry]
Name=Frozen Manasquan reservoir sunrise
Name[fr]=Frozen Manasquan reservoir sunrise

X-KDE-PluginInfo-Name=Frozen Manasquan reservoir sunrise
X-KDE-PluginInfo-Author=Bob Jagendorf
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/bobjagendorf
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Frozen Manasquan reservoir sunrise
