[Desktop Entry]
Name=Chao Phraya
Name[fr]=Chao Phraya

X-KDE-PluginInfo-Name=Chao Phraya
X-KDE-PluginInfo-Author=Prachanart Viriyaraks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/drflint/8104113147/
X-KDE-PluginInfo-License=CC BY 2.0 
Name[fr_FR]=Chao Phraya
