[Desktop Entry]
Name=Winter
Name[fr]=Winter

X-KDE-PluginInfo-Name=Winter
X-KDE-PluginInfo-Author=Rapciu
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://rapciu.tumblr.com http://xxrapekxx.deviantart.com
X-KDE-PluginInfo-License=All rights reserved
Name[fr_FR]=Winter
