[Desktop Entry]
Name=Linux Blue Olivia
Name[fr]=Linux Blue Olivia

X-KDE-PluginInfo-Name=Linux Blue Olivia
X-KDE-PluginInfo-Author=Frédéric Gaudet
X-KDE-PluginInfo-Email=fred@linuxmint.com
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=Linux Blue Olivia
