[Desktop Entry]
Name=Below Clouds
Name[fr]=Below Clouds

X-KDE-PluginInfo-Name=Below Clouds
X-KDE-PluginInfo-Author=Máté Koba
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/kobinho/7865205080/
X-KDE-PluginInfo-License=CC BY-SA 3.0
Name[fr_FR]=Below Clouds
