[Desktop Entry]
Name=London Office Life
Name[fr]=London Office Life

X-KDE-PluginInfo-Name=London Office Life
X-KDE-PluginInfo-Author=Simon Hadleigh-Sparks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/simon__syon
X-KDE-PluginInfo-License=http://creativecommons.org/licenses/by-nd/2.0/
Name[fr_FR]=London Office Life
