
[Desktop Entry]
Name=Mint_Maya
Name[fr]=Mint_Maya

X-KDE-PluginInfo-Name=Mint_Maya
X-KDE-PluginInfo-Author=Frederic Gaudet
X-KDE-PluginInfo-Email=clem@linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=Mint_Maya
