[Desktop Entry]
Name=Zyndranowa
Name[fr]=Zyndranowa

X-KDE-PluginInfo-Name=Zyndranowa
X-KDE-PluginInfo-Author=Darek
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/40792319@N04
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Zyndranowa
