[Desktop Entry]
Name=Water
Name[fr]=Water

X-KDE-PluginInfo-Name=Water
X-KDE-PluginInfo-Author=blumblaum
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/blumblaum 
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Water
