[Desktop Entry]
Name=Beach
Name[fr]=Beach

X-KDE-PluginInfo-Name=Beach
X-KDE-PluginInfo-Author=Paul Bica 
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/dexxus
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Beach
