[Desktop Entry]
Name=Flame
Name[fr]=Flame

X-KDE-PluginInfo-Name=Flame
X-KDE-PluginInfo-Author=9dzign
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://9dzign.deviantart.com
X-KDE-PluginInfo-License=http://creativecommons.org/licenses/by-nd/3.0/
Name[fr_FR]=Flame
