[Desktop Entry]
Name=Blue Sea And Boat
Name[fr]=Blue Sea And Boat

X-KDE-PluginInfo-Name=Blue Sea And Boat
X-KDE-PluginInfo-Author=Al Butler
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/alwbutler/8189436218/
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Blue Sea And Boat
