[Desktop Entry]
Name=Winter Fog
Name[fr]=Winter Fog

X-KDE-PluginInfo-Name=Winter Fog
X-KDE-PluginInfo-Author=Jerome Da
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/seanturcomusic/8188046797/
X-KDE-PluginInfo-License=CC BY-SA 2.0
Name[fr_FR]=Winter Fog
