[Desktop Entry]
Name=Mist
Name[fr]=Mist

X-KDE-PluginInfo-Name=Mist
X-KDE-PluginInfo-Author=Konstantin Leonov
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://kuroihikari.deviantart.com/
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Mist
