[Desktop Entry]
Name=Sunny afternoon at Norris Point
Name[fr]=Sunny afternoon at Norris Point

X-KDE-PluginInfo-Name=Sunny afternoon at Norris Point
X-KDE-PluginInfo-Author=Kenny Louie
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/kwl
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Sunny afternoon at Norris Point
