[Desktop Entry]
Name=Blurred nova
Name[fr]=Blurred nova

X-KDE-PluginInfo-Name=Blurred nova
X-KDE-PluginInfo-Author=jebeld17
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/64718148@N06
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Blurred nova
