[Desktop Entry]
Name=Waves
Name[fr]=Waves

X-KDE-PluginInfo-Name=Waves
X-KDE-PluginInfo-Author=John Baer/Linux Mint
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/j_baer
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Waves
