[Desktop Entry]
Name=Cool Blue Water
Name[fr]=Cool Blue Water

X-KDE-PluginInfo-Name=Cool Blue Water
X-KDE-PluginInfo-Author=Steve Parker
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=ttp://www.flickr.com/photos/sparker/7831834326/
X-KDE-PluginInfo-License=CC BY-SA 2.0 
Name[fr_FR]=Cool Blue Water
