[Desktop Entry]
Name=Sky
Name[fr]=Sky

X-KDE-PluginInfo-Name=Sky
X-KDE-PluginInfo-Author=Konstantin Leonov
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/73003003@N07
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Sky
