[Desktop Entry]
Name=Blue Water
Name[fr]=Blue Water

X-KDE-PluginInfo-Name=Blue Water
X-KDE-PluginInfo-Author=Sherrie Thai
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/shaireproductions
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Blue Water
