[Desktop Entry]
Name=Shy Tipsoo Lake
Name[fr]=Shy Tipsoo Lake

X-KDE-PluginInfo-Name=Shy Tipsoo Lake
X-KDE-PluginInfo-Author=Andrew E. Larsen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/papalars
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-nd/2.0/
Name[fr_FR]=Shy Tipsoo Lake
