[Desktop Entry]
Name=IUT Allier
Name[fr]=IUT Allier

X-KDE-PluginInfo-Name=IUT Allier
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=
Name[fr_FR]=IUT Allier
