[Desktop Entry]
Name=Maui Sunset
Name[fr]=Maui Sunset

X-KDE-PluginInfo-Name=Maui Sunset
X-KDE-PluginInfo-Author=Paul Bica
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/dexxus  
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Maui Sunset
