[Desktop Entry]
Name=Linda Linda
Name[fr]=Linda Linda

X-KDE-PluginInfo-Name=Linda Linda
X-KDE-PluginInfo-Author=Prachanart Viriyaraks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/drflint/8173934080/
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Linda Linda
