[Desktop Entry]
Name=Petra
Name[fr]=Petra

X-KDE-PluginInfo-Name=Petra
X-KDE-PluginInfo-Author=Omer Kavak
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://omer-ogd.deviantart.com
X-KDE-PluginInfo-License=All rights reserved
Name[fr_FR]=Petra
