[Desktop Entry]
Name=Linux Mint 17
Name[fr]=Linux Mint 17

X-KDE-PluginInfo-Name=Linux Mint 17
X-KDE-PluginInfo-Author=Linux Mint
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
Name[fr_FR]=Linux Mint 17
