[Desktop Entry]
Name=Mona Lisa
Name[fr]=Mona Lisa

X-KDE-PluginInfo-Name=Mona Lisa
X-KDE-PluginInfo-Author=jebeld17
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/64718148@N06
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Mona Lisa
