[Desktop Entry]
Name=Derailed
Name[fr]=Derailed

X-KDE-PluginInfo-Name=Derailed
X-KDE-PluginInfo-Author=Håvard Bjerke
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/64617804@N07
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Derailed
