[Desktop Entry]
Name=Linux Blue 16
Name[fr]=Linux Blue 16

X-KDE-PluginInfo-Name=Linux Blue 16
X-KDE-PluginInfo-Author=Linux Mint
X-KDE-PluginInfo-Email=root@linuxmint.com
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=Linux Blue 16
