[Desktop Entry]
Name=Splash
Name[fr]=Splash

X-KDE-PluginInfo-Name=Splash
X-KDE-PluginInfo-Author=John Baer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/j_baer
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Splash
