[Desktop Entry]
Name=The skyline that never sleeps
Name[fr]=The skyline that never sleeps

X-KDE-PluginInfo-Name=The skyline that never sleeps
X-KDE-PluginInfo-Author=Arturo Donate
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/arturodonate
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=The skyline that never sleeps
