[Desktop Entry]
Name=A different perspective
Name[fr]=A different perspective

X-KDE-PluginInfo-Name=A different perspective
X-KDE-PluginInfo-Author=Kenny Louie
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/kwl
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=A different perspective
