[Desktop Entry]
Name=Brooklyn Bridge
Name[fr]=Brooklyn Bridge

X-KDE-PluginInfo-Name=Brooklyn Bridge
X-KDE-PluginInfo-Author=Nicolas Goulet
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/nicolasgoulet/8411275044/
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Brooklyn Bridge
