[Desktop Entry]
Name=Rails
Name[fr]=Rails

X-KDE-PluginInfo-Name=Rails
X-KDE-PluginInfo-Author=Stanisław Krawczyk
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://leppakakaklifoth.deviantart.com/art/Rails-308111969
X-KDE-PluginInfo-License=CC BY 3.0
Name[fr_FR]=Rails
