[Desktop Entry]
Name=Kauai
Name[fr]=Kauai

X-KDE-PluginInfo-Name=Kauai
X-KDE-PluginInfo-Author=Paul Bica 
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/dexxus
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Kauai
