[Desktop Entry]
Name=1 Canada Square
Name[fr]=1 Canada Square

X-KDE-PluginInfo-Name=1 Canada Square
X-KDE-PluginInfo-Author=Matt Buck
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/mattbuck007
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=1 Canada Square
