[Desktop Entry]
Name=Linux Blue Petra
Name[fr]=Linux Blue Petra

X-KDE-PluginInfo-Name=Linux Blue Petra
X-KDE-PluginInfo-Author=Frédéric Gaudet
X-KDE-PluginInfo-Email=fred@linuxmint.com
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=Linux Blue Petra
