[Desktop Entry]
Name=Sunrise on boardwalk
Name[fr]=Sunrise on boardwalk

X-KDE-PluginInfo-Name=Sunrise on boardwalk
X-KDE-PluginInfo-Author=Arturo Donate
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/arturodonate
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Sunrise on boardwalk
