[Desktop Entry]
Name=Azenhas do Mar
Name[fr]=Azenhas do Mar

X-KDE-PluginInfo-Name=Azenhas do Mar
X-KDE-PluginInfo-Author=Pedro Ribeiro Simões
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/pedrosimoes7
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Azenhas do Mar
