[Desktop Entry]
Name=Quetzal Hill
Name[fr]=Quetzal Hill

X-KDE-PluginInfo-Name=Quetzal Hill
X-KDE-PluginInfo-Author=Sayantan Chaudhuri
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/55253462@N03
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Quetzal Hill
