[Desktop Entry]
Name=Linux Blue 17.1
Name[fr]=Linux Blue 17.1

X-KDE-PluginInfo-Name=Linux Blue 17.1
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=
Name[fr_FR]=Linux Blue 17.1
