[Desktop Entry]
Name=Linux Blue Kde
Name[fr]=Linux Blue Kde

X-KDE-PluginInfo-Name=Linux Blue Kde
X-KDE-PluginInfo-Author=Frédéric Gaudet
X-KDE-PluginInfo-Email=fred@linuxmint.com
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=Linux Blue Kde
