[Desktop Entry]
Name=Green
Name[fr]=Green

X-KDE-PluginInfo-Name=Green
X-KDE-PluginInfo-Author=Matt Buck
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/mattbuck007
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Green
