[Desktop Entry]
Name=South Quay Plaza
Name[fr]=South Quay Plaza

X-KDE-PluginInfo-Name=South Quay Plaza
X-KDE-PluginInfo-Author=Matt Buck
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/mattbuck007
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=South Quay Plaza
