[Desktop Entry]
Name=New York
Name[fr]=New York

X-KDE-PluginInfo-Name=New York
X-KDE-PluginInfo-Author=Andrew E. Larsen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/papalars
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-nd/2.0/
Name[fr_FR]=New York
