[Desktop Entry]
Name=London Skyscrapers
Name[fr]=London Skyscrapers

X-KDE-PluginInfo-Name=London Skyscrapers
X-KDE-PluginInfo-Author=Simon Hadleigh-Sparks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/simon__syon
X-KDE-PluginInfo-License=http://creativecommons.org/licenses/by-nd/4.0/
Name[fr_FR]=London Skyscrapers
