[Desktop Entry]
Name=Bokeh Fireworks
Name[fr]=Bokeh Fireworks

X-KDE-PluginInfo-Name=Bokeh Fireworks
X-KDE-PluginInfo-Author=Håvard Bjerke
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/64617804@N07
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Bokeh Fireworks
