[Desktop Entry]
Name=Eagle River Skys
Name[fr]=Eagle River Skys

X-KDE-PluginInfo-Name=Eagle River Skys
X-KDE-PluginInfo-Author=Andrew E. Larsen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/papalars
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-nd/2.0/
Name[fr_FR]=Eagle River Skys
