[Desktop Entry]
Name=Reflection
Name[fr]=Reflection

X-KDE-PluginInfo-Name=Reflection
X-KDE-PluginInfo-Author=Simon Hadleigh-Sparks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/simon__syon
X-KDE-PluginInfo-License=http://creativecommons.org/licenses/by-nd/4.0/
Name[fr_FR]=Reflection
