[Desktop Entry]
Name=Wild Goose Island
Name[fr]=Wild Goose Island

X-KDE-PluginInfo-Name=Wild Goose Island
X-KDE-PluginInfo-Author=Loco Steve
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/locosteve
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Wild Goose Island
