[Desktop Entry]
Name=Canary Wharf Skyline
Name[fr]=Canary Wharf Skyline

X-KDE-PluginInfo-Name=Canary Wharf Skyline
X-KDE-PluginInfo-Author=Simon Hadleigh-Sparks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/simon__syon
X-KDE-PluginInfo-License=http://creativecommons.org/licenses/by-nd/2.0/
Name[fr_FR]=Canary Wharf Skyline
