[Desktop Entry]
Name=Leaf And Dews
Name[fr]=Leaf And Dews

X-KDE-PluginInfo-Name=Leaf And Dews
X-KDE-PluginInfo-Author=Jyothish Kumar P.G
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/aviatorjk/5243601441/
X-KDE-PluginInfo-License=CC BY-SA 2.5 IN
Name[fr_FR]=Leaf And Dews
