[Desktop Entry]
Name=Linux blue 14
Name[fr]=Linux blue 14

X-KDE-PluginInfo-Name=Linux blue 14
X-KDE-PluginInfo-Author=Misc
X-KDE-PluginInfo-Email=clem@linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=Linux blue 14
