[Desktop Entry]
Name=linux_blue_14
Name[fr]=linux_blue_14

X-KDE-PluginInfo-Name=linux_blue_14
X-KDE-PluginInfo-Author=Misc
X-KDE-PluginInfo-Email=clem@linuxmint.com
X-KDE-PluginInfo-License=GPLv2
Name[fr_FR]=linux_blue_14
