[Desktop Entry]
Name=Hawaii
Name[fr]=Hawaii

X-KDE-PluginInfo-Name=Hawaii
X-KDE-PluginInfo-Author=Paul Bica 
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/dexxus
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by/2.0/
Name[fr_FR]=Hawaii
