[Desktop Entry]
Name=Central Park
Name[fr]=Central Park

X-KDE-PluginInfo-Name=Central Park
X-KDE-PluginInfo-Author=Nicolas Goulet
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/nicolasgoulet/8415301752/
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=Central Park
