[Desktop Entry]
Name=Flame
Name[fr]=Flame

X-KDE-PluginInfo-Name=Flame
X-KDE-PluginInfo-Author=John Baer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/j_baer
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Flame
