[Desktop Entry]
Name=Bye Bye Sunshine
Name[fr]=Bye Bye Sunshine

X-KDE-PluginInfo-Name=Bye Bye Sunshine
X-KDE-PluginInfo-Author=Håvard Bjerke
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=https://www.flickr.com/photos/64617804@N07
X-KDE-PluginInfo-License=https://creativecommons.org/licenses/by-sa/2.0/
Name[fr_FR]=Bye Bye Sunshine
