[Desktop Entry]
Name=Hope
Name[fr]=Hope

X-KDE-PluginInfo-Name=Hope
X-KDE-PluginInfo-Author=Rapciu
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://rapciu.tumblr.com http://xxrapekxx.deviantart.com
X-KDE-PluginInfo-License=All rights reserved
Name[fr_FR]=Hope
