[Desktop Entry]
Name=Linux Mint
Name[fr]=Linux Mint

X-KDE-PluginInfo-Name=Linux Mint
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.linuxmint.com
X-KDE-PluginInfo-License=
Name[fr_FR]=Linux Mint
