[Desktop Entry]
Name=7am Sunrise
Name[fr]=7am Sunrise

X-KDE-PluginInfo-Name=7am Sunrise
X-KDE-PluginInfo-Author=Arturo Donate
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/arturodonate
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=7am Sunrise
