[Desktop Entry]
Name=7AM sunrise
Name[fr]=7AM sunrise

X-KDE-PluginInfo-Name=7AM sunrise
X-KDE-PluginInfo-Author=Arturo Donate
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/arturodonate
X-KDE-PluginInfo-License=CC BY 2.0
Name[fr_FR]=7AM sunrise
