[Desktop Entry]
Name=Linux Mint Qiana
Name[fr]=Linux Mint Qiana

X-KDE-PluginInfo-Name=Linux Mint Qiana
X-KDE-PluginInfo-Author=Linux Mint
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
Name[fr_FR]=Linux Mint Qiana
