[Desktop Entry]
Name=Praia Do Leblon
Name[fr]=Praia Do Leblon

X-KDE-PluginInfo-Name=Praia Do Leblon
X-KDE-PluginInfo-Author=Rodrigo Soldon
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/soldon/8338601191/
X-KDE-PluginInfo-License=CC BY-ND 2.0
Name[fr_FR]=Praia Do Leblon
